@import "layout";
@import "theme";
@import "break-points";
@import "layout";
@import "social-icons";

.our-team {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  text-align: center;
  padding: 100px 0 100px;
  max-width: 1170px;
  width: 100%;
}

.teamItem {
  text-align: left;
  max-width: 270px;
  margin: 0 auto 50px;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: column;
  @media screen and (min-width: $lg) {
    max-width: 25% !important;
    margin: 0;
    padding: 0 15px;
  }
}

.teamItem > img {
  width: 100%;
}

.teamItem > h4 {
  color: #2d3033;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 24.2px;
}

.teamItem > h5 {
  color: #e84545;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
}

.teamItem > p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279;
  margin: 0 0 30px;
}

.teamItem > ul {
  display: flex;
  flex-direction: row;
  margin: auto 0 0;
  justify-content: space-around;
}